.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 0.8rem;
}

.course-card__title {
  font-size: 1.1rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  margin: 0;
}

.course-card__details {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
}

.course-card__details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.course-card__details p {
  font-size: 0.7rem;
}

.course-card__frame {
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-color: aliceblue;
}

.course-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #aaa;
  color: #aaa;
}

.course-card__hr {
  width: 80%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #ccc;
}
