.reserved-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.reserved-item p {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.2;
}
