.reservation-page {
  background-color: #fff;
  text-align: center;
  padding: 0.5rem;
}

.page-title {
  text-transform: uppercase;
  font-weight: 700;
}

.reserved-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.reserved-item__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.reserved-item hr {
  width: 80%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #ccc;
}

.reserved-item p {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.2;
}

.reserved-item__meta {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
}

.reserved-item__meta div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.reserved-item__meta p {
  font-size: 0.7rem;
}

.reserved-item__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #aaa;
  color: #aaa;
}
